/* 💥폰트 다운받은 후 적용하기 */
* {
    
}

/* 상품 상세 페이지 전체 */
.productDetailPage {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 850px;
    padding: 70px;
}
.headSection {
    margin-bottom: 20px;
}

/* 배너 */
section.bannerContainer {
    display: inline-block;
    position: relative;
    margin: 0px 30px;
    border-radius: 5px;
    width: 375px;
    height: 375px;
    overflow: hidden;
}
div.mainBanner {
    display: flex;
    width: 1500px;
    /* width: 1125px; */
}
/* 배너 사이즈에 맞도록 이미지 크기 조절 */
div.mainBanner img {
    max-width: 100%;
    height: auto;
}
/* 배너 화살표 */
div.arrow {
    position: absolute;
    font-weight: bold;
    font-size: 2.5rem;
    color: aliceblue;
    cursor: pointer;
    top: 50%;
    transform: translateY(-50%);
}
div.left {
    left: 20px;
}
div.right {
    right: 20px;
}
/* 배너 이미지 순서 표시 */
div.presentBannerPage {
    position: absolute;
    margin: 0 auto;
    bottom: 10px;
    background-color: rgb(83, 78, 78);
    border-radius: 40px;
    padding: 3px 10px;
    opacity: 0.7;
    left: 50%;
    transform: translate(-50%, -10%);
}
div.presentBannerPage span {
    color: aliceblue;
    font-weight: bold;
    font-size: 0.8rem;
}
/* 상품 기본정보 */
section.infoContainer {
    display: inline-block; /* 인라인 블록 요소로 설정하여 한 줄에 나란히 배치 */
    vertical-align: top;
    margin: 0 auto;
    width: 375px;
    height: 375px;
}
/* 상품 제목, 공유버튼 이미지 */
.basic-info {
    height: 226px;
}
.product-info {
    display: flex;
    align-items: center;
    height: 56px;;
}
.product-info img {
    width: 24px;
    height: 24px;
    cursor: pointer;
}
.product-title {
    font-size: 20px;
}

/* 상품 가격 정보 */
.price-info {
    display: flex;
    align-items: center;
    margin-top: 4px;
    font-weight: bold;
    align-items: flex-end;
}
.discountRate {
    font-size: 24px;
    color: #ff3f33;
    margin-right: 12px;
}
.discountedPrice {
    font-size: 24px;
    color: #333333;
    margin-right: 6px;
}
.discountedPrice span {
    font-size: 14px;
}
.price {
    font-size: 16px;
    color: #cccccc;
    text-decoration: line-through;
}

/* 프립케어 */
.frip-care {
    display: flex;
    align-items: center;
    border-radius: 10px;
    border: 1px solid rgb(229, 229, 229);
    padding: 0px 8px;
    margin-bottom: 14px;
    height: 55px;
}
.care-image {
    margin-right: 3px;
}
.care-image img {
    width: 32px;
    height: 35px;
}
.inform img {
    width: 20px;
    height: 20px;
}
.frip-care-text {
    margin-right: 20px;
}
.frip-care-text > div:first-child {
    font-size: 13px;
    color: #666666;
    font-weight: bold;
}
.frip-care-text > div:nth-child(2) {
    font-size: 12px;
    color: #aaaaaa;
    font-weight: bold;
}

/* 호스트 정보 */
.host-profile {
    display: flex;
    align-items: center;
    padding-top: 20px;
    border-width: 1px;
    border-style: solid none none none;
    border-color: rgb(229, 229, 229);
}
.host-logo {
    margin-right: 20px;
    cursor: pointer;
}
.host-logo img {
    width: 56px;
    height: 56px;
}
.host-profile > div:nth-child(2) {
    width: 250px;
}
.host-info {
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}
.host-info img {
    width: 56px;
    height: 17px;
}
.host-info-detail {
    margin-top: 2px;
    font-size: 12px;
    color: #aaaaaa;
    font-weight: bold;
}
.like img {
    width: 32px;
    height: 32px;
    cursor: pointer;
}

/* 섹션 상단에 구분선 표시하기 */
section.fripRecommend,
section.fripQuestion,
section.fripSupplies,
section.fripPlace,
section.fripIntroduce,
section.fripInfo,
.reviewEvent {
    border-width: 1px;
    border-style: solid none none none;
    border-color: rgb(229, 229, 229);
}
/* 섹션 패딩 설정 */
.fripRecommend,
.fripQuestion,
.fripSupplies,
.fripPlace,
.fripIntroduce,
.fripInfo {
    padding: 20px 0px 40px;
}

/* 리뷰이벤트 이미지 */
div.reviewEvent img {
    max-width: 100%;
    height: auto;
}

/* 제목 폰트 */
.articleTitle {
    font-size: 18px;
}

/* 프립 정보 데이터 */
.fripInfoData {
    display: flex;
    align-items: center;
}
dt {
    font-size: 14px;
    font-weight: bold;
    width: 76px;
    color: #999999;
}
dd {
    font-size: 14px;
    font-weight: bold;
}

/* 프립 소개 내용 */
.contentBody {
    height: 860px;
    overflow: hidden;
    text-align: center;
    margin-bottom: 10px;
}
.contentBody img {
    max-width: 100%;
    height: auto;
}
/* 더보기 버튼 */
.moreButton button {
    background-color: transparent;
    border-style: none;
    display: flex;
    cursor: pointer;
}
.moreButton {
    display: flex;
    align-items: center;
    width: 327px;
    height: 56px;
    padding: 1px 6px;
    border: 2px solid rgb(17, 17, 17);
    background-color: white;
    cursor: pointer;
    justify-content: center;

    position: absolute;
    /* bottom: 200px; */
    left: 50%;
    transform: translateX(-50%);
}
.moreButton span {
    font-size: 14px;
    font-weight: bold;
}

/* 모이는 장소 */
.fripPlace {
    margin-top: 30px;
}
.placeInfo {
    font-size: 13px;
    color: #999999;
    font-weight: bold;
}
.mapSize {
    border-color: #ff3f33;
    border-radius: 20px;
}
.meetingPlaceMap {
    border-radius: 20px;
    border: 1px solid #cccccc;
}